<ion-view view-title="{{navTitle}}" hide-nav-bar="true" cache-view="false">

<ion-header-bar  style=" height:75px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight" ng-if="showMenuButton">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-click="goBack()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar>


  <ion-content>

  <!--
  <div ng-click="goBack()" style="position:absolute; top:10px; left:10px; z-index:1">
	<i class="ion-ios-arrow-back" style="font-size:40px;" ></i>
  </div>

      <div class="BackgroundImage" >
          <img src="img/bck.jpg" style="width: 100%" />
      </div>
	-->
    <div style="position:relative;" >

      <div class="LogoImage" align="center">
        <img src="img/bookeep.png" style="width: 50%" />
      </div>



      <div style="position:relative; padding-top: 20px;" >

      <div style="width: 100%; margin-top: 10px;" align="center" ng-if="showSelectCompany">
        <div class="inputDiv">
          <label class="item item-input item-select itemSelected">
            <div class="input-label itemSelectedLabel" >
                  בחר חברה
            </div>
            <select ng-model="scanfileds.client_id" class="itemSelectedBox1" style="" >
              <option value=""> בחר/י בית עסק</option>
			  <option value="{{item.BusinessId}}" ng-repeat="item in clientsArray"> {{item.BusinessName}}</option>

            </select>
          </label>
        </div>
      </div>
	  
	  
	  
      <div style="width: 100%; overflow: hidden" align="center">
      <div class="setExpenseType" align="center">
        <div class="setExpenseTypeLeft" ng-click="setExpenseType(1)">
          <img src="{{defaultProfileImage}}" style="width: 100%; height:45px;" />
        </div>
        <div class="setExpenseTypeRight"   ng-click="setExpenseType(2)" >
          <img src="{{defaultExpenseImage}}" style="width:100%; height:45px;" />
        </div>
      </div>
      </div>

          
        <div class="LogoImage" align="center" ng-click="CameraOptions()" style="margin-top: -20px !important; ">
          <img src="img/upload_button.png" style="width:92%" />
        </div>


		<!-- uploaded images -->
        <div style="width: 100%; overflow: hidden" align="center">
          <div style="width:90%; overflow:hidden; margin-top:20px;" ng-if="uploadedImages.length > 0" align="center">
            <div  ng-repeat="item in uploadedImages" style="width:32%; height: 90px; margin-left:1%; margin-top: 1%; float:right;">
              <div  ng-click="deleteImage($index)" style="position: absolute; margin-left: 5px; margin-top:5px; ">
                <i class="ion-close-round" style="color: white" aria-hidden="true"></i>
              </div>
              <img src="{{item.image}}"   style="width:100%; height: 90px;" />

            </div>
          </div>
        </div>

        <div class="LogoImage" ng-if="showSubmitButton" align="center" ng-click="sendDocument()" style="margin-top:0px !important; ">
          <img src="img/send.png" style="width:72%" />
        </div>

		<!--<img src="img/sendbt.png" ng-click="sendDocument()" style="width:100%;">-->
      </div>
    </div>

	<!--
	<div align="center">

		<div style="direction:rtl;">בתי עסק:</div>


		<button ng-click="selectClient($index)" ng-class="item.isSelected == 0 ? 'button button-block button-positive' : 'button button-block button-calm'"  ng-repeat="item in clientsArray">
		  {{item.BusinessName}}
		</button>


	<div class="list">

	  <label class="item item-input item-select">
		<div class="input-label">
		  בחירת סוג מסמך
		</div>
		<select ng-model="scanfileds.document_type">
		  <option value="" selected>יש לבחור</option>
		  <option value="1">חשבונית</option>
		  <option value="2">חשבונית מס קבלה</option>
		  <option value="3">קבלה</option>
		  <option value="34">חשבונית זיכוי</option>
		  <option value="1001">חשבונית לקוח</option>
		  <option value="1002">חשבונית מס קבלה לקוח</option>
		  <option value="1003">קבלה לקוח</option>
		  <option value="1034">חשבונית זיכוי לקוח</option>

		</select>
	  </label>

	</div>

	<button class="button button-royal" ng-click="sendDocument()">
	  בחירת מסמך
	</button>


	</div>

	-->

  </ion-content>
</ion-view>
